.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #E8E8E8;
}

.sidebar {
  background-color: #3F84E5;
  padding: 1%;
  margin: 0px;
  font-family: 'Roboto';
  position: fixed;
  width: 15%;
  min-width: 200px;
  height: 100%;
  top: 0px;
  left: 0px;
}

.sidebar *{
  margin-top: 1%;
}

.question-input {
  margin: 15%;
}

.questions-container {
  margin-left: max(200px, 15%);
  width: 50%;
  
}

.MuiCard-root {
  margin: 2.5%;
  background-color: #C0C0C0;
}

.MuiCardActions-root {
  justify-content: center;
}

.generate-questions-form {
  margin: 10%;
}

.MuiButton-root {
  text-transform: none;
}