.App {
  text-align: center;
}

.sidebar {
  background-color: blue;
  padding: 1%;
  margin: 0px;
  font-family: 'Roboto';
  position: fixed;
  width: 10%;
  min-width: 150px;
  height: 100%;
  top: 0px;
  left: 0px;
}

.sidebar *{
  margin-top: 1%;
}

.question-input {
  margin: 10%;
}

.questions-container {
  margin-left: max(175px, 10%);
}